.cards{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    gap: 40px;
    margin-left: 100px;
    padding: 30px;
    font-size: larger;
    font-weight: bolder;
}
.cards2{
   font-size: larger;
}


.image > img{
    margin-right: 200px;
}